// style the contact page
@import "../../DS/base/colors";
.root {
  min-height: calc(100vh - 72.5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .contactForm {
    border: 1px solid $light-border;
    padding: 32px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;

    .contactInfo {
      margin-bottom: 32px;
    }
    .contactForm {
      margin-top: 32px;
    }
  }
  padding: 5%;
  .nameInput {
    display: flex;
    gap: 10px;
  }
  input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    border-radius: 100px;
    &:focus {
      outline: none;
      border-color: $primary-text;
    }
  }
  .submitButton {
    background-color: $primary-text;
    color: $white-text;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;
    border-radius: 100px;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: darken($primary-text, 10%);
    }
  }
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    &:focus {
      outline: none;
      border-color: $primary-text;
    }
  }
}
